body {
	background-color: lightgray;
}

#header {
	background-color: lightblue;
}

#nav-bar ul li, #nav-bar a {
	display: inline-block;
	height: 40px;
}

#nav-bar a {
	background-color: magenta;
}

main {
	background-color: beige;
	width: 85%;
	margin: auto;
}

main section {
	//width: 85%;
	//margin: auto;
}

#about {
	background-color: brown;
}

#pricing {
	background-color: black;
	color: black;
	font-weight: bold;
	font-size: 30px;
	display: grid;
	grid-template-columns: 30% 1fr 30% 1fr 30%;
}

#tier1, #tier2, #tier3 {
	text-align: center;
}

#tier1 {
	grid-column: 1 / 2;
	background-color: orange;
}

#tier2 {
	grid-column: 3 / 4;
	background-color: pink;
}

#tier3 {
	grid-column: 5 / 6;
	background-color: gold;
}

#resources {
	background-color: white;
}

#footer {
	background-color: lightgreen;
}
