#header {
	background-color: lightblue;
}

main {
	background-color: lightgray;
}

#about {
	background-color: brown;
}

#pricing {
	background-color: yellow;
}

#resources {
	background-color: white;
}

#footer {
	background-color: lightgreen;
}
